
body {
    background-color: cadetblue;
}

#searchbox  {
    margin-top: 20px;
    font-size: 14pt;   
}

#searchbox input{   
    margin: 0 auto ;
    display:block; 
    margin-bottom: 10px;
    width: 225px;
}

#searchbox button {
    margin: 0 auto ;
    display:block; 
    margin-bottom: 10px;
  
}

.pic-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;

}

.pic-container .item{
    margin: auto;
    margin-bottom: 10px;
}


img {
  border: 1px solid aliceblue;
}

button {
    font-size: 12px;
    height: 20px;
    margin-left: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: darkturquoise; 
    border: 1px solid black;
}

/* Media Query */

@media screen and (min-width: 768px) {

    .pic-container .item{
        margin: 1.2em;
    }
    
    #searchbox  {
      font-size: 12pt;   
    }
    
}






